<div class="container-form">
    
    <div class="fale-conosco-text">
        Fale conosco
    </div>

    <form>
        <div class="bloco">
            <label for="">Seu nome</label>
            <input name="name" type="text" [(ngModel)]="dataset.name">
        </div>
    
        <div class="bloco">
            <label for="">Seu email</label>
            <input name="age" type="text" [(ngModel)]="dataset.age">
        </div>
    
        <div class="bloco">
            <label for="">Comentário</label>
            <textarea name="country" [(ngModel)]="dataset.country"></textarea>
        </div>

        <div class="bloco">
            <button id="btn-pedido" type="submit" class="btn" (click)="onSubmit()" [routerLink]="['/home-plataforma']">Enviar</button>
        </div>
    </form>
</div>