* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arvo';
}

.one {
    height: 100vh;
    color: white;
    scroll-snap-align: start;
}

.name {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 100px;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.highlight {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: rgb(255, 255, 255);
    font-size: 7px; 
}

.btns {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.btns button {
    border: none;
    border-radius: 15px;
    height: 25px;
    width: 80px;
    cursor: pointer;
    background-color: #0D1117;
    color: white;
}

.btns button:hover {
    color: rgb(206, 168, 241);
    background-color: #161a20;
}

.icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.icon {
    cursor: pointer;
    width: 25px;
}

.icon:hover {
    cursor: pointer;
    width: 25px;
}

.two {
    height: 100vh;
    color: rgb(0, 0, 0);
    scroll-snap-align: start;
}

.about {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 100px;
    color: rgb(0, 0, 0);
    font-size: 30px; 
}

.me {
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 7px; 
    text-align: justify;
}

.me-aside {
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 7px; 
    text-align: center;
    text-align: justify;
}

.techs {
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
    text-align: justify;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.grad {
    color: rgb(206, 168, 241);
}

.three {
    height: 100vh;
    color: rgb(0, 0, 0);
    scroll-snap-align: start;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 100px;
    color: rgb(255, 255, 255);
    font-size: 30px; 
}

.skills {
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 7px; 
    text-align: justify;
    color: white;
}

.visit {
    margin-top: 10px;
    text-align: center;
    color: rgb(206, 168, 241);
    font-size: 7px;
}

.four {
    height: 100vh;
    color: rgb(0, 0, 0);
    scroll-snap-align: start;
}

.project {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 50px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    cursor: pointer;
}

.project:hover {
    color: rgb(206, 168, 241);
}

.demo-text {
    margin-top: 30px;
    text-align: center;
    color: #010409;
    font-size: 10px;
}

.demo {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    margin-top: 10px;
}

.btn {
    margin: 10px;
    font-size: 10px;
}

.btn button:hover {
    margin: 10px;
    font-size: 10px;
    background-color: #272b31;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
}


.one {
    background-color: #010409;
}

.two {
    background-color: rgb(255, 255, 255);
}

.three {
    background-color: #010409;
}

.four {
    background-color: rgb(255, 255, 255);
}

.one, .two, .three, .four {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.side-bar {
    width: 34%;
    display: flex;
    justify-content: flex-start;
    color: rgb(255, 255, 255);
}

.content {
    width: 33%;
}

.ig {
    width: 33%;
}

.side-bar-b {
    width: 24%;
    display: flex;
    justify-content: flex-start;
    color: rgb(255, 255, 255);
}

.content-b {
    width: 52%;
}

.ig-b {
    width: 24%;
}