<div class="container">
  <section class="one">
    <div class="name">
      Pedro Luiz
    </div>
    <div class="highlight">
      Currently working as System Analist at Deloitte<br>
    </div>
    <div class="btns">
      <button (click)="goToLink('https://udeyou.s3.sa-east-1.amazonaws.com/CurriculoPedroLuizPTBR.pdf')">.resumé()</button>
    </div>
    <div class="icons">
      <fa-icon class="icon" [icon]="['fab', 'github']" (click)="goToLink('https://www.github.com/pedroluiznogueira')"></fa-icon>
      <fa-icon class="icon" [icon]="['fab', 'linkedin']" (click)="goToLink('https://www.linkedin.com/in/pedroluiznogueira')"></fa-icon>
      <fa-icon class="icon" [icon]="['fas', 'envelope']"></fa-icon>
    </div>
  </section>

  <section class="two">
    <div class="about">
      .aboutme()
    </div>
    <p class="me">
      Hi, <span class="grad">I'm Pedro</span>. I'm a software developer, seeking to learn and acquire experience in software development world. <span class="grad"> I'm currently graduating in two colleges, Computer Engineer (FEI) and Computer Science (FAM).</span> For the past few years I've been a huge intusiast of the whole Java/Spring ecosystem, I've been spending a lot of time studying software architecture, with focus on microservices.
    </p>
    <p class="me-aside">
      Aside from coding, I'm passionate for social projects, I really look forward to helping other people who didn't have the same oppotunities that I had.
    </p>
    <div class="techs">
      Currently <span class="grad">.mastering()</span>
    </div>
    <div class="icons">
      <fa-icon class="icon" [icon]="['fab', 'react']"></fa-icon>
      <fa-icon class="icon" [icon]="['fab', 'angular']"></fa-icon>
      <fa-icon class="icon" [icon]="['fab', 'java']"></fa-icon>
    </div>
  </section>

  <section class="three">
    <h1>Third Page</h1>
  </section>

  <section class="four">
    <h1>Forfth Page</h1>
  </section>
</div>