<div class="container">
  <section class="one" id="sec-one">
    <div class="side-bar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="content">
      <app-main></app-main>
    </div>
    <div class="ig"></div>
  </section>

  <section class="two" id="sec-two">
    <div class="side-bar-b">
      <app-sidebar></app-sidebar>
    </div>
    <div class="content-b">
      <app-about></app-about>
    </div>
    <div class="ig-b"></div>
  </section>

  <section class="three" id="sec-three">
    <div class="side-bar-b">
      <app-sidebar></app-sidebar>
    </div>
    <div class="content-b">
      <app-skills></app-skills>
    </div>
    <div class="ig-b"></div>
  </section>

  <section class="four" id="sec-four">
    <div class="side-bar-b">
      <app-sidebar></app-sidebar>
    </div>
    <div class="content-b">
      <app-projects></app-projects>
    </div>
    <div class="ig-b"></div>
  </section>
</div>