<div class="sec">
    <!-- <app-sidebar></app-sidebar> -->
    <div class="content">
        <div class="left">
            <div class="name">
                Pedro Luiz
            </div>
            <div class="highlight">
                Currently working as System Analist at Deloitte<br>
            </div>
            <div class="btns">
                <button (click)="goToLink('https://udeyou.s3.sa-east-1.amazonaws.com/CurriculoPedroLuizPTBR.pdf')">.resumé()</button>
            </div>
            <div class="icons">
                <fa-icon class="icon" [icon]="['fab', 'github']" (click)="goToLink('https://www.github.com/pedroluiznogueira')"></fa-icon>
                <fa-icon class="icon" [icon]="['fab', 'linkedin']" (click)="goToLink('https://www.linkedin.com/in/pedroluiznogueira')"></fa-icon>
            </div>
        </div>
        <div class="right">
            <p>.contactMe()</p>
            <form action="">
                <label for="">Name</label>
                <input name="name" type="text" [(ngModel)]="name">

                <label for="">Email</label>
                <input name="email" type="text" [(ngModel)]="email">

                <label for="">Info</label>
                <textarea name="info" id="" cols="30" rows="3" [(ngModel)]="info"></textarea>

                <div class="btns">
                    <button (click)="onSubmit()">.send()</button>
                </div>
            </form>
        </div>
    </div>
</div>
