@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Montserrat:wght@300;400&family=Spartan:wght@100;300;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}